/* Quitar el borde azul de Leaflet al hacer click */
:focus { outline: none; }

/* Ajustar las etiquetas de los países pequeños */
.country-label {
  background: none !important;
  border: none !important;
  color: #444;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  pointer-events: none; /* Para que no interfiera con el click del círculo */
}

/* El contenedor del mapa ahora es gris muy suave, no verde */
#map {
  background: #f8f9fa; 
}