/* Posicionamiento del grupo de botones */
#map-control-group {
    position: absolute;
    top: 80px; /* Debajo de los botones + / - del zoom */
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/* Estilo que imita a los botones de zoom de Leaflet */
#map-control-group button {
    background: white;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 30px; /* Tamaño estándar de Leaflet */
    height: 30px;
    font-size: 18px; /* Tamaño del icono */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: 0.2s background-color;
    padding: 0;
}

#map-control-group button:last-child {
    border-bottom: none;
    border-radius: 0 0 4px 4px;
}

#map-control-group button:first-child {
    border-radius: 4px 4px 0 0;
}

/* Efecto al pasar el mouse */
#map-control-group button:hover {
    background: #f4f4f4;
}
